#sliderWrapper {
    border:3px solid #ffffff;
    background:transparent;
    width:300px;
    height:300px;
    margin:auto;
    z-index:20;
    box-shadow: 0 0 70px rgba(0, 0, 0, 20);
}
#gallery {
    position:relative;
    height:300px;
    margin:auto;
    z-index:20;
}
.slide:first-child {
    background:#f4f4f4;
    display:block;
    position:absolute;
    top:0px;
    left:0px;
    z-index:20;
}
.slide {
    background:#222222;
    display:none;
    position:absolute;
    top:0px;
    left:0px;
    z-index:20;
}
.slideImg {
    margin:auto;
    display:block;
    width:300px;
    height:300px;
    z-index:20;
}
#sliderBullets {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.bulletOption {
    background: #999;
    width: 50px;
    height: 8px;
    margin-left: 10px;
    cursor: pointer;
  
  &:first-child {
    margin-left: 0;
  }
  
  &.bulletSelected,
    &:hover {
      background: #eee;
    }
}